.theHammer {
  border: 2px solid grey;
  display: inline-block;
  width: 50vw;
}
.upperHammer {
  display: flex;
  justify-content: center;
}
.cups {
  height: 100px;
  width: 45px;
  border: 2px solid black;
  background-color: silver;
}
.head {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: silver;
}
.lowerHammer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shaft {
  height: 50px;
  width: 45px;
  border: 2px solid black;
  background-color: black;
}
.grip {
  height: 90px;
  width: 45px;
  border: 2px solid black;
  background-color: burlywood;
}
.pommel {
  height: 20px;
  width: 45px;
  border: 2px solid black;
  background-color: silver;
}