* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.logo {
  height: 125px;
  width: 125px;
}
#addPad {
  margin: 2px;
  transform: scale(.90);
}
.bigBox {
  display: flex;
}
.theHammer {
}
.upperHammer {
  display: flex;
  justify-content: center;
}
.cups {
  height: 120px;
  width: 60px;
  border: 2px solid #000000;
  border-radius: 15%;
  background-color: #c0c0c0;
}
.head {
  height: 120px;
  width: 120px;
  border: 2px solid #000000;
  border-radius: 15%;
  background-color: #c0c0c0;
}
.lowerHammer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shaft {
  height: 65px;
  width: 60px;
  border: 2px solid #000000;
  background-color: #964B00;
}
.grip {
  height: 115px;
  width: 60px;
  border: 2px solid #000000;
  background-color: #000000;
}
.pommel {
  height: 25px;
  width: 60px;
  border: 2px solid black;
  border-radius: 0 0 15% 15%;
  background-color: #c0c0c0;
}
.formGalore {
  min-width: 100px;
}
.addThis {
  width: 300px;
}
#about {
  font-weight: bold;
  padding: 1rem;
}