body {
  font-family: sans-serif;
}
.container {

}
#addPad {
  margin: 10px;
}
#headerAI {
  width: inherit;
}
.bigBox {
  display: flex;
}
.hammerTime {
  display: flex;
}
form {
  padding: 1rem;
  width: 30vw;
  /* border: 2px solid red; */
}
button {
  
}
.userSelection {
  /* display: flex;
  justify-content: flex-end; */
  padding: 1rem 0 0 0;
}
label {
  /* border: 2px solid orange; */
}
select {
  /* border: 2px solid purple; */
}
.theHammer {
  padding: 1rem;
  /* border: 2px solid green; */
}
.upperHammer {
  display: flex;
  justify-content: center;
}
.cups {
  height: 120px;
  width: 60px;
  border: 2px solid black;
  border-radius: 15%;
  background-color: #c0c0c0;
}
.head {
  height: 120px;
  width: 120px;
  border: 2px solid black;
  border-radius: 15%;
  background-color: #c0c0c0;
}
.lowerHammer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shaft {
  height: 65px;
  width: 60px;
  border: 2px solid black;
  background-color: #964B00;
}
.grip {
  height: 115px;
  width: 60px;
  border: 2px solid black;
  background-color: #000000;
}
.pommel {
  height: 25px;
  width: 60px;
  border: 2px solid black;
  border-radius: 0 0 15% 15%;
  background-color: #c0c0c0;
}

#about {
  font-weight: bold;
  padding: 1rem;
}